@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  padding-block: 3rem;
}

.about__card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.about__text {
  text-align: justify;
}
