@use "../1-settings/variables" as v;
@use "../2-tools/functions" as f;
@use "../2-tools/mixins" as m;


.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  padding-block: 3rem;

  @include m.respond(tablet) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.about__card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.about__text {
  margin-bottom: 1rem;
  text-align: justify;

  @include m.respond(mobile) {
    max-height: 12.5rem;
    overflow: hidden;
  }
}

.about__text.expanded {
  @include m.respond(mobile) {
    max-height: 100%;
  }
}

.about__see-more {
  display: none;
  margin-top: 1rem;
  font-family: v.$font-family-sans;
  font-size: 1rem;
  font-weight: bold;
  color: v.$color-primary;
  background: none;
  border: none;

  @include m.respond(mobile) {
    display: block;
  }
}
