@use "../1-settings/variables" as v;
@use "../1-settings/functions" as f;

.hero__button {
  padding: .5rem 1.5rem;
  border: 0px;
  border-radius: 15px;
  font-family: v.$font-family-sans;
  font-size: f.rem(18);
  color: v.$color-white;
  background-color: v.$color-primary;
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: v.$color-primary-hover;
  }
}
