@use "../1-settings/variables" as v;

.quick-links {
  padding-block: 3rem;
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    justify-items: center;
  }

  &__card {
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: v.$color-white;
    background-color: v.$color-primary;
    border-radius: 50%;
  }

  &__link:hover &__title {
    color: v.$color-primary-hover;
  }

  &__link:hover &__icon {
    background-color: v.$color-primary-hover;
    transition: background-color 0.2s ease;
  }
}



