<section class="about" id="about">
  <div class="about__grid">
    <div class="about__card">
      <h2 class="about__title o-title--h2">Descubre Blanes</h2>
      <img src="./assets/images/about.jpg" alt="Vista panorámica de Blanes">
    </div>

    <div class="about__card">
      <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu sem ut nunc sollicitudin egestas at eget enim. Vestibulum cursus in turpis eu condimentum. Vestibulum vestibulum a mi at pharetra. Cras maximus nulla quam, sit amet sagittis ante condimentum eu. Nunc sit amet commodo arcu. Aliquam id odio vestibulum, auctor tortor sit amet, elementum dolor. Curabitur elementum ligula eu sem condimentum eleifend. Sed lobortis orci quis odio efficitur, vel tincidunt orci iaculis. Proin sed pulvinar eros.</p>
    </div>
  </div>
</section>
