<section class="about" id="about">
  <div class="about__grid">

    <div class="about__card">
      <h2 class="about__title o-title--h2">Descubre Blanes</h2>
      <img src="./assets/images/about.jpg" alt="Vista panorámica de Blanes">
    </div>

    <div class="about__card">
      <p class="about__text" id="about-text">Blanes es un encantador pueblo costero de la <strong>provincia de Girona</strong>, conocido por ser la <strong>puerta de entrada a la Costa Brava</strong>. Su emblema más reconocible es la <strong>roca de Sa Palomera</strong>, una formación natural que marca el punto donde empieza oficialmente esta costa tan famosa. <br>Pasear por su paseo marítimo, visitar el <strong>Jardín Botánico Marimurtra</strong> o disfrutar de las vistas desde el <strong>Castillo de Sant Joan</strong> son solo algunas de las experiencias que hacen de Blanes un lugar especial. Además, su ambiente tranquilo, su gastronomía mediterránea y su amplia variedad de actividades al aire libre la convierten en un destino ideal para cualquier época del año.</p>
      <button class="about__see-more" id="about-see-more">Ver más</button>
    </div>

  </div>
</section>
