<section class="activities">
  <h2 class="o-title--h2">Actividades</h2>

  <div class="activities__grid">
    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-cycling.jpg" class="activities__img" alt="Personas practicando ciclismo en el Castillo de Sant Joan">
        <h3 class="o-title--h3 activities__title">Ciclismo</h3>
      </a>
      <p class="activities__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu sem ut nunc sollicitudin egestas at eget enim.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-hiking.jpg" class="activities__img" alt="Indicador de ruta de senderismo">
        <h3 class="o-title--h3 activities__title">Senderismo</h3>
      </a>
      <p class="activities__text">Explora los hermosos senderos naturales que rodean Blanes, ideales para caminatas y observación de la flora y fauna local.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-scuba-diving.jpg" class="activities__img" alt="Persona practicando submarinismo">
        <h3 class="o-title--h3 activities__title">Submarinismo</h3>
      </a>
      <p class="activities__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu sem ut nunc sollicitudin egestas at eget enim.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-running.jpg" class="activities__img" alt="Personas corriendo junto al mar en Blanes">
        <h3 class="o-title--h3 activities__title"><i lang="en">Running</i></h3>
      </a>
      <p class="activities__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu sem ut nunc sollicitudin egestas at eget enim.</p>
    </div>
  </div>

  <div class="activities__button--center">
    <button class="button">Ver todas las actividades</button>
  </div>
</section>
