<section class="activities" id="activities">
  <h2 class="o-title--h2">Actividades</h2>

  <div class="activities__grid">
    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-cycling.jpg" class="activities__img" alt="Personas practicando ciclismo en el Castillo de Sant Joan">
        <h3 class="o-title--h3 activities__title">Ciclismo</h3>
      </a>
      <p class="activities__text">Blanes ofrece un entorno privilegiado para practicar ciclismo. Puedes recorrer rutas costeras con vistas al mar o adentrarte en caminos de montaña rodeados de naturaleza.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-hiking.jpg" class="activities__img" alt="Indicador de ruta de senderismo">
        <h3 class="o-title--h3 activities__title">Senderismo</h3>
      </a>
      <p class="activities__text">Explora los senderos naturales que rodean Blanes. El Camí de Ronda es una de las rutas más populares, un recorrido junto al mar que conecta playas y calas, perfecto para disfrutar de la naturaleza mediterránea.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-scuba-diving.jpg" class="activities__img" alt="Persona practicando submarinismo">
        <h3 class="o-title--h3 activities__title">Submarinismo</h3>
      </a>
      <p class="activities__text">El fondo marino de Blanes es un auténtico tesoro para los amantes del buceo. Su biodiversidad hace que cada inmersión sea una experiencia única, tanto para principiantes como para buceadores con experiencia.</p>
    </div>

    <div class="activities__card">
      <a href="/" class="activities__link">
        <img src="./assets/images/activities-running.jpg" class="activities__img" alt="Personas corriendo junto al mar en Blanes">
        <h3 class="o-title--h3 activities__title"><i lang="en">Running</i></h3>
      </a>
      <p class="activities__text">Correr en Blanes es una forma perfecta de desconectar y disfrutar del entorno. Su paseo marítimo, los caminos junto al río Tordera y los senderos naturales ofrecen recorridos adaptados a todos los niveles.</p>
    </div>
  </div>

  <div class="activities__button--center">
    <button class="button">Ver todas las actividades</button>
  </div>
</section>
