<header class="header">
  <nav class="header__nav">

    <button class="header__burger" aria-label="Abrir menú" aria-expanded="false" aria-controls="nav-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul id="nav-menu">
      <li><a href="#about" class="header__link">Descubre Blanes</a></li>
      <li><a href="#natural_spaces" class="header__link">Espacios naturales</a></li>
      <li><a href="#activities" class="header__link">Actividades</a></li>
      <li><a href="#contact" class="header__link">Contacto</a></li>
    </ul>

  </nav>
</header>
