<section class="natural-spaces">
  <h2 class="natural-spaces__title o-title--h2">Espacios naturales</h2>
  <div class="natural-spaces__swiper swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-1.jpg" alt="Vistas Jardín Botánico Marimurtra"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-2.jpg" alt="Jardín Botánico Marimurtra"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-3.jpg" alt="Jardín Botánico Marimurtra (homenaje a Antoni Palau)"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-4.jpg" alt="Jardín Botánico Marimurtra (cactus)"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-5.jpg" alt="Delta río Tordera (1)"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-6.jpg" alt="Delta río Tordera (2)"/>
      </div>

      <div class="swiper-slide natural-spaces__slide">
        <img class="natural-spaces__image" src="./assets/images/natural-spaces-7.jpg" alt="Sa Palomera"/>
      </div>

    </div>
    <div class="natural-spaces__pagination swiper-pagination"></div>
    <div class="natural-spaces__button natural-spaces__button--prev swiper-button-prev"></div>
    <div class="natural-spaces__button natural-spaces__button--next swiper-button-next"></div>
  </div>
</section>
