<div class="quick-links">
  <div class="quick-links__grid">

    <div class="quick-links__card">
      <a href="/" class="quick-links__link">
        <i class="fa-solid fa-bed quick-links__icon"></i>
        <h3 class="quick-links__title o-title--h3">Dónde dormir</h3>
      </a>
    </div>

    <div class="quick-links__card">
      <a href="/" class="quick-links__link">
        <i class="fa-solid fa-utensils quick-links__icon"></i>
        <h3 class="quick-links__title o-title--h3">Dónde comer</h3>
      </a>
    </div>

    <div class="quick-links__card">
      <a href="/" class="quick-links__link">
        <i class="fa-solid fa-map-location-dot quick-links__icon"></i>
        <h3 class="quick-links__title o-title--h3">Qué visitar</h3>
      </a>
    </div>

    <div class="quick-links__card">
      <a href="/" class="quick-links__link">
        <i class="fa-solid fa-calendar-days quick-links__icon"></i>
        <h3 class="quick-links__title o-title--h3">Eventos</h3>
      </a>
    </div>

  </div>
</div>
