@use "../2-tools/functions" as f;
@use "../1-settings/variables" as v;
@use "../2-tools/mixins" as m;

.o-title--h2 {
  margin-bottom: 1rem;
  font-size: f.rem(36);
  font-weight: v.$fw-semi-bold;

  @include m.respond(mobile) {
    font-size: f.rem(26);
  }

  @include m.respond(tablet) {
    font-size: f.rem(30);
  }
}

.o-title--h3 {
  font-size: f.rem(28);
  font-weight: v.$fw-semi-bold;

  @include m.respond(mobile) {
    font-size: f.rem(22);
  }

  @include m.respond(tablet) {
    font-size: f.rem(24);
  }
}
